.client-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

app-client-sidebar {
  width: 250px; 
  flex-shrink: 0; 
}